<table class="table table-striped table-hover table-condensed" id="favorite-shows-table">
  <thead>
    <tr>
      <th><%= link_to sortable "id" %></th>
      <th>Favorite</th>
      <th></th>
      <th><%= link_to sortable "name" %></th>
      <th><%= link_to sortable "premiere" %></th>
      <th>Day</th>
      <th>Time</th>
      <th><%= link_to sortable "station" %></th>
    </tr>
  </thead>
  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.id %></td>
        <td>
          <% if @favorites.include? show.id %>
            <%=form_tag favorite_path(show), method: :delete %>
              <button class="btn btn-danger" data-id=<%= show.id %> data-action="unfavorite">Unfavorite</button>
              </form>
          <% else %>
            <%=form_tag favorites_path, method: :post %>
              <button class="btn btn-success" data-id=<%= show.id %> data-action="favorite">Favorite</button>
              </form>
          <% end %>
        </td>
        <td><img src="<%=show.pic_url%>"></td>
        <td><%= show.name %></td>
        <td><%= show.premiere %></td>
        <td><%= show.day %></td>
        <td><%= show.time %></td>
        <td><%= show.station %></td>
      </tr>
    <% end %>
  </tbody>
</table> 