<!DOCTYPE html>
  <head>
  </head>
  
  <body>
<!-- WRAPPER -->
  <div class="wrapper">

  <!-- HERO UNIT -->
    <section class="hero-unit-slider">
      <div id="carousel-hero" class="slick-carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="assets/lost.jpg" alt="Slider Image">
            <div class="carousel-caption">
              <h2 class="hero-heading">CLICK AND GO!</h2>
              <p class="lead">Simply click the 'Favorite' button to add a program to your personal list of tracked shows.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END HERO UNIT -->

    <div class="page-content">
      <div class="container">
    <% @shows.each do |show| %>
    <div class="multiple-pricing-table">
      <div class="col-md-4 col-sm-4">
        <div class="pricing-item">
          <h3 class="boxed-content-title"><img src="<%=show.pic_url%>"></h3>
          <h4><%= link_to "#{show.name}", show_path(show) %></h4>
          <ul class="list-unstyled plan-detail-list">
            <li><strong><%= truncate(show.premiere) %></strong></li>
            <li><strong><%= show.day %></strong></li>
            <li><strong><%= show.time %></strong></li>
            <li><strong><%= show.station %></strong></li>
          </ul>
          <% if @favorites.include? show.id %>
          <%=form_tag favorite_path(show), method: :delete %>
            <button class="favorite-show btn btn-danger" data-id=<%= show.id %> data-action="unfavorite">Unfavorite</button>
          </form>
          <% else %>
          <%=form_tag favorites_path, method: :post %>
            <button class="favorite-show btn btn-success" data-id=<%= show.id %> data-action="favorite">Favorite</button>
          </form>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
     </div>
    </div>

  </div>
  <!-- END WRAPPER -->


  </body>
</html>