<!DOCTYPE html>
  <head>
  </head>

  <body>
<!-- WRAPPER -->
  <div class="wrapper">

<!-- HERO UNIT -->
    <section class="hero-unit-slider">
      <div id="carousel-hero" class="slick-carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/assets/walkingdead3.jpg" alt="/assets/walkingdead.jpg">
            <div class="carousel-caption">
              <h2 class="hero-heading">EXPLORE</h2>
              <p class="lead">Read up on new shows and find a new obsession</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END HERO UNIT -->

<!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">
        <section>
          <div class="row">
            <div class="col-md-6">
            <% if @season.last["poster_path"] != nil %>
            <img src="http://image.tmdb.org/t/p/w300<%= @season.last["poster_path"] %>"><hr>
            <% else %>
            <img src=<%= @show.pic_url %>><hr>
            <% end %>
            <% if @season.last["air_date"] >= Time.now %> == true
              <p>Premieres <%= @season.last["air_date"] %></p> 
            <% end %>
              <p><strong>Airs <%= @show.day %>s at <%= @show.time %>  on <%= @show.station %></strong></p>
              <p><%= @info["overview"] %></p>
              <% if @favorites.include? @show.id %>
          <%=form_tag favorite_path(@show), method: :delete %>
            <button class="favorite-show btn btn-danger" data-id=<%= @show.id %> data-action="unfavorite">Unfavorite</button>
          </form>
          <% else %>
          <%=form_tag favorites_path, method: :post %>
            <button class="favorite-show btn btn-success" data-id=<%= @show.id %> data-action="favorite">Favorite</button>
          </form>
          <% end %>
            </div>
            <% if @vids.count != 0 %>
            <div class="col-md-6">
              <div class="featured-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @vids.sample %>" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <% end %>
          </div>
          <br><hr>
        </section>

        <!-- OUR CLIENTS -->
          <% if @pics.count != 0 %>
          <section class="clients">
            <div class="container">
              <h2 class="section-heading">PICTURES</h2>
              <ul class="list-inline list-client-logo">
              <% @pics.each do |img| %>
                <li>
                  <a href="http://image.tmdb.org/t/p/original<%= img %>" target="_blank"><img src="http://image.tmdb.org/t/p/w300<%= img %>" style="PADDING-BOTTOM: 20px"></a>
                </li>
                <% end %>
              </ul>
            </div>
          </section>
          <% end %>
          <!-- END OUR CLIENTS -->

      </div>
    </div>
    <!-- END PAGE CONTENT -->

  </div>
  <!-- END WRAPPER -->
  </body>
  </html>