<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <!-- WRAPPER -->
  <div class="wrapper">
    		
    <!-- HERO UNIT -->
    <section class="hero-unit-slider">
      <div id="carousel-hero" class="slick-carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("bsg.jpg", alt: "Slider Image") %>
            <div class="carousel-caption">
              <h2 class="hero-heading">MATT-TV</h2>
              <p class="lead">Redesigning the television experience</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("firefly.jpg", alt: "Slider Image") %>
            <div class="carousel-caption">
              <h2 class="hero-heading">NO DVR?</h2>
              <p class="lead">No problem. Never forget when your favorite show is airing again</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("breakingbad.jpg", alt: "Slider Image") %>
            <div class="carousel-caption">
              <h2 class="hero-heading">PERSONALIZE YOUR EXPERIENCE</h2>
              <p class="lead">Choose from our extensive list of shows</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END HERO UNIT -->

    <!-- INTRO -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="section-heading">HOW IT WORKS</h2>
            <p>All of your favorite television shows in one convenient place.</p>
            <p>New cable provider? DVR explode in a ball of flame during a lightning storm? Can't remember what shows you used to record? These problems can become a thing of the past with a few simple clicks.</p>
            <p>By logging into "MATT-TV" through Facebook, any and all television shows that you follow on Facebook will be added to your personal list of favorite TV shows. Access this list to see when a show premieres or when and on what station that show airs. Don't see some of your favorite shows? Head to the 'shows' page and find what you are looking for on our extensive list. A simple click of a button and you are now following that show! Never again lose track of a show. Let MATT-TV take the worry out of your free time! Get started now!</p>
            <p>
            <% if current_user %>
            <% else %>
            <a href="/users/auth/facebook"><img src="/assets/login.jpg" height="27" width="80" /></a>
            <% end %>
            </p>
          </div>
          <div class="col-md-6">
            <img src="assets/old_tv.jpg" class="img-responsive" alt="Image Intro">
          </div>
        </div>
      </div>
    </section>
    <hr>
    <!-- END INTRO -->

    <!-- OUR CLIENTS -->
    <section class="clients">
      <div class="container">
        <h2 class="section-heading">SOME OF OUR SHOWS</h2>
        <ul class="list-inline list-client-logo">
        <% @shows.each do |show| %>
          <li>
            <a href=<%= show_path(show) %>><img src=<%= show.pic_url %>></a>
          </li>
          <% end %>
        </ul>
      </div>
    </section>
    <hr>
    <!-- END OUR CLIENTS -->

    <section>
      <div class="container">
        <h2 class="section-heading">LATEST TV NEWS</h2>
          <% @news.each do |article| %>
          <div class="col-md-6 col-sm-6">
            <div class="news-item margin-bottom-30px clearfix">
              <a href="http://www.tv.com<%=article.link%>" target="_blank"><img src=<%= article.pic %> class="img-responsive pull-left" alt="News Thumbnail"></a>
              <div class="right">
                <h3 class="news-title"><a href="http://www.tv.com<%=article.link%>" target="_blank"><%= article.title %></a></h3>
                <p><%= article.title %></p>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </section>

    <!-- END LATEST NEWS -->

  </div>

  </body>
</html>