<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
<% if current_user %>
  <a href="/profile/:user_id"><img src="<%= current_user.avatar %>"></a>
  <a rel="nofollow" data-method="delete" href="/users/sign_out"><img src="assets/logout.jpg" height="25" width="80" /></a>
<% else %>
  <a href="/users/auth/facebook"><img src="assets/login.jpg" height="27" width="80" /></a>
<% end %>
</div>

  <div class="container">
    <div class="flash">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= flash_class name %>" >
          <%= msg %>
        </div>
      <% end %>
    </div>

<%= yield %>

</body>
</html>